Reference: https://towardsdatascience.com/a-practitioners-guide-to-natural-language-processing-part-i-processing-understanding-text-9f4abfd13e72 <br>AND Annie's "Text Normalization Demo.ipynb"

# Data Exploratory

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
# First, saved the original csv file to utf-8 csv file via Notepad. Then: 
df = pd.read_csv('D:\\Education\\York U\\ML 1010\\Group Project\\Dataset\\training.1600000.processed.noemoticon.csv', header=None)

In [3]:
type(df)

pandas.core.frame.DataFrame

In [4]:
len(df)

1600000

In [5]:
df.head(5) # The function can also be done by "health_df[:5]" or "print(health_df[:5])"

,0,1,2,3,4,5
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [6]:
df.columns = ["Sentiment","IDs","Date","Flag","User","Tweet"]
df = df[["Tweet","Sentiment"]]
df.head(5)

                                               Tweet  Sentiment
0  @switchfoot http://twitpic.com/2y1zl - Awww, t...          0
1  is upset that he can't update his Facebook by ...          0
2  @Kenichan I dived many times for the ball. Man...          0
3    my whole body feels itchy and like its on fire           0
4  @nationwideclass no, it's not behaving at all....          0

In [7]:
df['Sentiment'].value_counts()

4    800000
0    800000
Name: Sentiment, dtype: int64

In [8]:
# For twitter sentiment analysis, a dataset which has more than 25,000 is sufficient, so we randomly select 2% which is 32,000.
df_training = df.sample(frac=0.02)

In [9]:
df_training.head(10)

                                                     Tweet  Sentiment
972507   havin relaxin nite, drinkin earl grey &amp; wa...          4
1164711                  @atif089 cool that would be nice           4
258458   ... i HATE lyn-z... sorry i just had to say it...          0
465065                       is awake, bored, and annoyed           0
833687   song of the day  http://tinyurl.com/cpkjrm lac...          4
703199   @Prettyhoneydip iight lol ; I got u when I tal...          0
360715           thinks she has run up a Â£300 phone bill           0
80276    @JessicaGottlieb  Prime example why it doesn't...          0
1593081                      @BeTTie_McFly you know, why?           4
570700   @MCRmuffin D i got your update on my phone!! Y...          0

In [10]:
df_training.count() # Check number of non-NA values

Tweet        32000
Sentiment    32000
dtype: int64

In [11]:
df_training['Sentiment'].value_counts() # Data is balanced, the ratio of "4" and "0" is about 1:1.

4    16010
0    15990
Name: Sentiment, dtype: int64

In [12]:
df_training.to_csv('D:\\Education\\York U\\ML 1010\\Group Project\\Dataset\\training.csv',encoding='utf-8',index=False)