Reference: https://towardsdatascience.com/a-practitioners-guide-to-natural-language-processing-part-i-processing-understanding-text-9f4abfd13e72 <br>AND Annie's "Text Normalization Demo.ipynb"

# Data Exploratory

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
# First, saved the original csv file to utf-8 csv file via Notepad. Then: 
df = pd.read_csv('D:\\Education\\York U\\ML 1010\\Group Project\\Dataset\\HealthNewsTweets.csv', header=None)

In [3]:
type(df)

pandas.core.frame.DataFrame

In [4]:
len(df)

63207

In [5]:
df.head(5) # The function can also be done by "health_df[:5]" or "print(health_df[:5])"

                                       0
0       Breast cancer risk test devised
1   GP workload harming care - BMA poll
2   Short people's 'heart risk greater'
3  New approach against HIV 'promising'
4  Coalition 'undermined NHS' - doctors

In [6]:
df.columns = ["Tweet"]

df.head(5)

                                   Tweet
0       Breast cancer risk test devised
1   GP workload harming care - BMA poll
2   Short people's 'heart risk greater'
3  New approach against HIV 'promising'
4  Coalition 'undermined NHS' - doctors

In [7]:
# For the HealthNews testing dataset, 100-200 of tweets would be sufficient, so we randomly select 0.2% which is 126.
df_training = df.sample(frac=0.002)

In [8]:
df_training.head(10)

                                                   Tweet
14081  Does drinking water before your meal help you ...
19334  In case you missed it yesterday: Why is the NH...
47037        Should Medicare Pay For Alzheimer's Scans?
29856                       Cartoon: Business as usual?
51264  The New Old Age Blog: â€˜Aid in Dyingâ€™ Senti...
28531  RT @dwebbkhn: Listen up for part 2 of our San ...
31610  New @Surgeon_General @vivek_murthy is only 37 ...
11996                 9 foods to eat for a longer life:
36248                What Causes Hot Flashes, Anyway?:
7971   .@Freckles7682 No. Didn't have symptoms until ...

In [9]:
df_training.count() # Check number of non-NA values

Tweet    126
dtype: int64

In [10]:
df_training.to_csv('D:\\Education\\York U\\ML 1010\\Group Project\\Dataset\\health_testing.csv',encoding='utf-8',index=False)